.scroll-stack-scroller {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    /* Or visible depending on desired behavior */
}

.scroll-stack-inner {
    /* Lenis needs a wrapper */
    width: 100%;
}

.scroll-stack-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Or auto if content based */
    /* Hardware acceleration hints */
    will-change: transform, filter;
}

.scroll-stack-end {
    height: 1px;
    width: 100%;
    margin-top: 100vh;
    /* Ensure there is scroll space */
}